# CI on Windows via appveyor

version: 0.0.11.11194.{branch}_{build}

environment:
    GIT_DAEMON_PATH:   "C:\\Program Files\\Git\\mingw64\\libexec\\git-core"
    CYGWIN_GIT_PATH:   "C:\\cygwin\\bin;%GIT_DAEMON_PATH%"
    CYGWIN64_GIT_PATH: "C:\\cygwin64\\bin;%GIT_DAEMON_PATH%"
    PYTHON: "C:\\Python35"
    PYTHON_VERSION: "3.5.2"
    GIT_PATH: "%GIT_DAEMON_PATH%"
    EASI_VERSION: 0.0.11-alpha.1+11301
    COMPILEKEY:
      secure: GWMPMTNpIs/NmumBQYkAMHQiCIPJLLEBw/wWbwHdpqQ=
    VAULT_SECRET:
      secure: PZenz3embI+Bi4Odqt1HoAwDxnx0hVVcApSrjqTtx2U=
    CODACY_PROJECT_TOKEN:
      secure: KufyrkuCy7as7DpyKxxqpyQKDX4Zvhyz1szpaoFTsqw90iRsE/wNkaFJIGj+wKsE
    SCRUTINIZER:
      secure: Z7n1eRV3NvHwwVK3ay0Ng6J09jJe/jNbq+2KJXZhDMBFVLrPjsIGyEyXOHgxLf8h3K7JYctoNOJ3yAnQ10cuGJY2amVbcrPCDzx0cUFe/g0=
    CODECLIMATE_REPO_TOKEN:
      secure: 5g9TZWYrT6Bq9BSvMcI408Nyh9OcoCHU+wFYXV7Q8nBg7lgRjH/ht1p2MQwJhsiEGHqw3Krk+h6a3w92725ldwxKOWrc8twh92gOPC0b4gs=
    COVERALLS_REPO_TOKEN:
      secure: 0Vci1JqP+KrmA8CjVryiikwJRk2W198nIHmPwk0W75zrz1b1Orz2+JrdgqLl5d3q
    GH_PAGES_TOKEN:
      secure: Wn4FCPRsCJUZy0bnpVt2ClZSp9XsrT0rocBBNDOFGPvmcCZq4fPNDWI1FfoO08zV
    GH_MAIL:
      secure: 9bVWUcCZXTNmCwwwQ9c/LY+ZxQWBTzzEJoojPZbp4Qk=

matrix:
    fast_finish: true

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - nuget install secure-file -ExcludeVersion
  - secure-file\tools\secure-file -decrypt vault\secret.pyd.enc -secret %VAULT_SECRET% -out vault\secret.pyd
  - "%PYTHON%/Scripts/pip.exe install --disable-pip-version-check --user --upgrade pip"
  - "%PYTHON%/Scripts/pip.exe install nose"
  - "%PYTHON%/Scripts/pip.exe install coverage"
  # Upgrade to the latest version of pip to avoid it displaying warnings
  # about it being out of date.
  - "%PYTHON%/Scripts/pip.exe install -r requirements.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-extra.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-build.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-test.txt"

  # Installing various utilities
  - choco install -y InnoSetup curl
  - curl -O http://esrg.sourceforge.net/utils_win_up/md5sum/crc32.exe
  - set PATH="C:\Program Files (x86)\Inno Setup 5";%PATH%

cache:
  - "%PYTHON%"
  - C:\Program Files (x86)\Inno Setup 5
  - C:\Users\appveyor\AppData\Local\pip\cache
  - C:\ProgramData\chocolatey

before_build:
#  - "%PYTHON%/Scripts/coverage.exe run --source ./src -m nose ./tests"
#  - "%PYTHON%/Scripts/coverage.exe xml"
  - "%PYTHON%/Scripts/pytest.exe --cov=src --cov-config .coveragerc --cov-report xml -c .pytest --full-trace"
#  - "%PYTHON%/Scripts/pip.exe install codeclimate-test-reporter codecov"
#  - "%PYTHON%/Scripts/codeclimate-test-reporter.exe"
  - "%PYTHON%/Scripts/pip.exe install git+https://github.com/132nd-etcher/ocular.py.git"
#  - "%PYTHON%/Scripts/ocular.exe --data-file .coverage --config-file .coveragerc"
  - "%PYTHON%/Scripts/ocular.exe --access-token %SCRUTINIZER%"
  - "%PYTHON%/Scripts/pip.exe install codacy-coverage"
  - "%PYTHON%/Scripts/python-codacy-coverage.exe -r coverage.xml"
  - "%PYTHON%/Scripts/pip.exe install coveralls"
  - "%PYTHON%/Scripts/coveralls.exe"
  - "%PYTHON%/Scripts/pip.exe install codecov"
  - "%PYTHON%/Scripts/codecov.exe"

build_script:
  - "%PYTHON%/python.exe -m PyInstaller ./src/main.py --noconfirm --onefile --clean --icon src/ui/resources/app.ico --workpath ./build/build --paths %PYTHON%/Lib/site-packages/PyQt5/Qt/bin --name EASI --distpath ./build/dist_console --key %COMPILEKEY%"
  - set PATH="%APPVEYOR_BUILD_FOLDER%\build\dist_console";%PATH%
  - easi.exe test_and_exit
  - "%PYTHON%/python.exe -m PyInstaller ./src/main.py --noconfirm --onefile --clean --icon src/ui/resources/app.ico --workpath ./build/build --paths %PYTHON%/Lib/site-packages/PyQt5/Qt/bin --name EASI --distpath ./build/dist_windowed --windowed --key %COMPILEKEY%"
  - iscc inno_setup.iss
#  - dir

#on_success:
#  - git config --global user.email "%GH_MAIL%"
#  - git config --global user.name "etcher"
#  - cd ..
#  - git clone https://github.com/132nd-etcher/EASI.git gh-pages
#  - cd gh-pages
#  - git checkout gh-pages
#  - git rm -rf .
#  - cd ..
#  - cd easi
#  - cd docs
#  - make html SPHINXBUILD="%PYTHON%/Scripts/sphinx-build.exe" HTML_OUTPUT_DIR=..\gh-pages
#  - cd ..
#  - cd ..
#  - cd gh-pages
#  - git remote set-url origin https://github.com/132nd-etcher/EASI.git
#  - git add -A
#  - git commit -a -m "auto gh-pages build"
#  - git push
#  - cd ..\easi

artifacts:
  - path: ./build/release/*.exe
    name: setup

# branches to build
branches:
  # whitelist
  only:
    - master
    - prerelease
    - develop  # FIXME this needs to go

  # blacklist
  except:
    - gh-pages

deploy:
  - provider: GitHub
    artifact: setup
    draft: false
    prerelease: false
    auth_token:
      secure: T9LMiMzikVwlfnYhxlIpzhmfotDN75SUmEv1FSGLHZ/vMHMCMT3SEapSOH1iPdaD
    on:
      branch: master
      appveyor_repo_tag: false
  - provider: GitHub
    artifact: setup
    draft: false
    prerelease: true
    auth_token:
      secure: T9LMiMzikVwlfnYhxlIpzhmfotDN75SUmEv1FSGLHZ/vMHMCMT3SEapSOH1iPdaD
    on:
      branch: prerelease
      appveyor_repo_tag: false

skip_tags: true
