environment:
    GIT_DAEMON_PATH:   "C:\\Program Files\\Git\\mingw64\\libexec\\git-core"
    CYGWIN_GIT_PATH:   "C:\\cygwin\\bin;%GIT_DAEMON_PATH%"
    CYGWIN64_GIT_PATH: "C:\\cygwin64\\bin;%GIT_DAEMON_PATH%"
    PYTHON: "C:\\Python35"
    PYTHON_VERSION: "3.5.2"
    GIT_PATH: "%GIT_DAEMON_PATH%"
    COMPILEKEY:
      secure: jJAI8pH/A53fLBF5sp3K7pK7q6q3OSzESU5w1VfpTFM=
    VAULT_SECRET:
      secure: PZenz3embI+Bi4Odqt1HoAwDxnx0hVVcApSrjqTtx2U=
    CODACY_PROJECT_TOKEN:
      secure: KufyrkuCy7as7DpyKxxqpyQKDX4Zvhyz1szpaoFTsqw90iRsE/wNkaFJIGj+wKsE
    SCRUTINIZER:
      secure: Z7n1eRV3NvHwwVK3ay0Ng6J09jJe/jNbq+2KJXZhDMBFVLrPjsIGyEyXOHgxLf8h3K7JYctoNOJ3yAnQ10cuGJY2amVbcrPCDzx0cUFe/g0=
    CODECLIMATE_REPO_TOKEN:
      secure: 5g9TZWYrT6Bq9BSvMcI408Nyh9OcoCHU+wFYXV7Q8nBg7lgRjH/ht1p2MQwJhsiEGHqw3Krk+h6a3w92725ldwxKOWrc8twh92gOPC0b4gs=
    COVERALLS_REPO_TOKEN:
      secure: 0Vci1JqP+KrmA8CjVryiikwJRk2W198nIHmPwk0W75zrz1b1Orz2+JrdgqLl5d3q
    GH_PAGES_TOKEN:
      secure: Wn4FCPRsCJUZy0bnpVt2ClZSp9XsrT0rocBBNDOFGPvmcCZq4fPNDWI1FfoO08zV
    GH_MAIL:
      secure: 9bVWUcCZXTNmCwwwQ9c/LY+ZxQWBTzzEJoojPZbp4Qk=


matrix:
    fast_finish: true

init:
  - cmd: echo %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%
  - cmd: appveyor UpdateBuild -Version "%APPVEYOR_REPO_BRANCH%.%APPVEYOR_REPO_COMMIT%.%APPVEYOR_BUILD_NUMBER%"

cache:
  - "%PYTHON%"
  - C:\Program Files (x86)\Inno Setup 5
  - C:\Users\appveyor\AppData\Local\pip\cache
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

install:
  - "%PYTHON%/Scripts/pip.exe install --disable-pip-version-check --user --upgrade pip"
  - "%PYTHON%/Scripts/pip.exe install --upgrade coverage"
  - "%PYTHON%/Scripts/pip.exe install -r requirements.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-build.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-test.txt"
  - "%PYTHON%/Scripts/pip.exe install -r requirements-docs.txt"
  - choco install gitversion.portable -pre -y
  - nuget install secure-file -ExcludeVersion
  - choco install -y InnoSetup curl
  - curl -O http://esrg.sourceforge.net/utils_win_up/md5sum/crc32.exe
  - set PATH="C:\Program Files (x86)\Inno Setup 5";%PATH%
  - choco install gitversion.portable -y
  - git clone --branch=master https://github.com/132nd-etcher/verpatch.git C:\projects\verpatch
  - secure-file\tools\secure-file -decrypt vault\secret.pyd.enc -secret %VAULT_SECRET% -out vault\secret.pyd


before_build:
  - ps: gitversion /l console /output buildserver /updateassemblyinfo /b (get-item env:APPVEYOR_REPO_BRANCH).Value
  - cmd: appveyor UpdateBuild -Version %GitVersion_InformationalVersion%.%APPVEYOR_BUILD_NUMBER%
  - "%PYTHON%/Scripts/pytest.exe --cov=src --cov-config .coveragerc --cov-report xml -c .pytest"
  - "%PYTHON%/Scripts/pip.exe install git+https://github.com/132nd-etcher/ocular.py.git"
  - "%PYTHON%/Scripts/ocular.exe --access-token %SCRUTINIZER%"
  - "%PYTHON%/Scripts/pip.exe install codacy-coverage"
  - "%PYTHON%/Scripts/python-codacy-coverage.exe -r coverage.xml"
  - "%PYTHON%/Scripts/pip.exe install coveralls"
  - "%PYTHON%/Scripts/coveralls.exe"
  - "%PYTHON%/Scripts/pip.exe install codecov"
  - "%PYTHON%/Scripts/codecov.exe"

build_script:
  - set PATH="c:\projects\verpatch";%PATH%
  - "%PYTHON%/python.exe -m PyInstaller ./src/main.py --noconfirm --onefile --clean --icon src/ui/resources/app.ico --workpath ./build/build --paths %PYTHON%/Lib/site-packages/PyQt5/Qt/bin --name EASI --distpath ./build/dist_console --key %COMPILEKEY% --log-level=WARN"
  - set PATH="%APPVEYOR_BUILD_FOLDER%\build\dist_console";%PATH%
  - easi.exe test_and_exit
  - "%PYTHON%/python.exe -m PyInstaller ./src/main.py --noconfirm --onefile --clean --icon src/ui/resources/app.ico --workpath ./build/build --paths %PYTHON%/Lib/site-packages/PyQt5/Qt/bin --name EASI --distpath ./build/dist_windowed --windowed --key %COMPILEKEY% --log-level=WARN"
  - cmd: verpatch.exe %APPVEYOR_BUILD_FOLDER%\build\dist_windowed\easi.exe /high %GitVersion_FullSemVer% /va /pv %GitVersion_FullSemVer% /s product EASI /s copyright "2015 etcher" /s build %GitVersion_Sha% /langid 1033 /s PrivateBuild %APPVEYOR_BUILD_NUMBER%
  - cmd: iscc inno_setup.iss /DAppName=EASI /DAssemblySemVer=%GitVersion_AssemblySemVer% /DSemVer=%GitVersion_SemVer% /DFullSemVer=%GitVersion_FullSemVer% /DInformationalVersion=%GitVersion_InformationalVersion% /DSha=%GitVersion_Sha% /DAppIco=src\ui\resources\app.ico /DOutputDir=build\release
  - git config --global credential.helper store
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GH_PAGES_TOKEN):x-oauth-basic@github.com`n"
  - "%PYTHON%/Scripts/mkdocs.exe build --clean --strict -v"
  - "git config --global user.email %GH_MAIL%"
  - "git config --global user.name 132nd-etcher"
  - "%PYTHON%/Scripts/mkdocs.exe gh-deploy --clean -v"

artifacts:
  - path: ./build/release/*.exe
    name: setup

branches:
  only:
    - master
    - develop
    - /release/.*/
    - /pull/.*/
    - /hotfix/.*/
    - /feature/.*/

  except:
    - gh-pages

max_jobs: 1

deploy:
#  - provider: GitHub
#    artifact: setup
#    draft: false
#    prerelease: false
#    auth_token:
#      secure: T9LMiMzikVwlfnYhxlIpzhmfotDN75SUmEv1FSGLHZ/vMHMCMT3SEapSOH1iPdaD
#    on:
#      branch: master
#      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: nightly
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: /pull/.*/
      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: nightly
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: /feature/.*/
      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: alpha
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: develop
      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: beta
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: /hotfix/.*/
      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: beta
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: /release/.*/
      appveyor_repo_tag: false

  - provider: BinTray
    username: 132nd-etcher
    api_key:
      secure: t0qrmbdcvUmtVn52IJ4YG357edT6zdA9aFQ3UEbEj8Ps8Tw363UzT9bMItJs0Kmu
    subject: 132nd-etcher
    repo: EASI
    package: stable
    version: "%GitVersion_FullSemVer%"
    publish: true
    override: false
    explode: false
    on:
      branch: master
      appveyor_repo_tag: false

skip_tags: false

skip_commits:
  files:
    - docs/*
    - '**/*.html'
  message: /.*(t|T)rivia.*/
